.volume-container .volume .input-container {
  margin: 10px;
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  display: none;
}
.volume-container .volume .input-container .volume-slider{
  -webkit-appearance: slider-vertical;
  appearance: slider-verical;
}

.volume-container .volume:hover .input-container {
  display: flex;
}
