@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth
}

:root {
  color-scheme: dark;
  scrollbar-width: thin;
}

body {
  font-family: Helvetica, sans-serif;
  
  @apply bg-slate-800 text-white scroll-smooth; 
}

.card-container {
  @apply bg-slate-900 p-2 rounded-sm;
}

.card-container .card-title {
  @apply m-1 font-medium text-xl;
}
.card-container .card-content {
  @apply flex flex-col justify-center items-center;
}

.input-text {
  @apply w-full m-1 p-2 bg-slate-800;
}

.input-text.nobg {
  @apply bg-transparent;
}

input {
  outline: none;
}

.button-main {
  @apply w-full my-1 p-2 bg-rose-700 rounded-sm border-2 border-transparent;
}

.button-main.disabled,
.button-main:hover.disabled{
  @apply bg-rose-900 border-rose-900  text-gray-400 cursor-default border-2;
}

.button-main:hover {
  @apply bg-rose-500 text-white;

}

.button-secondary {
  @apply w-full my-1 p-2 border-2 border-rose-500 rounded-sm;
}

.button-secondary.disabled,
.button-secondary:hover.disabled{
  @apply bg-rose-900 border-transparent text-rose-400 cursor-default;
}

.button-secondary:hover {
  @apply bg-rose-500 text-white;
}

a {
  @apply text-rose-500;
}